@use 'variables.module' as *;

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: clamp(12px, 1.5vw, 16px);
}

body {
  background-color: map-get($colors, 'beige');
  font: $body-font;
  text-align: center;
}

div {
  color: map-get($colors, 'black');
}

h1 {
  font: $heading-font;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus {
  outline: none;
}
