@use 'mixins.module' as mixin;

#container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 32px;
  max-width: 900px;
  min-height: calc(100vh - 64px);
}

#heading {
  margin-top: 64px;
}

#sappy-text {
  margin-top: 10px;
}

#envelope-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;

  & > div {
    margin: 10px;
  }
}

#modal {
  z-index: 101;
  width: 400px;
  height: 300px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mixin.background;
}

#blur {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);

  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 600px) {
  #modal {
    width: 320px;
    height: 280px;
  }
}