#container {
  display: flex;
  flex-direction: column;

  margin: auto;
  max-width: 900px;
}

#heading {
  margin-top: 64px;
}

#sappy-text {
  margin-top: 10px;
}

#envelope-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 30px;

  & > div {
    margin: 10px
  }
}