#container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 646px;
  // min-height: calc(100vh - 2 * 32px);
  margin: auto;
  padding: 32px 32px;

  header {
    position: absolute;
  }

  & > div {
    flex: 1 0 auto;
  }

  footer {
    margin-top: 36px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
  }
}

#name {
  margin-top: 16px;
}

#note-container {
  margin-top: 28px;
  padding: 24px 32px;
  text-align: left;
  background-color: white;
}

#note {
  font-size: 2rem;
}

#from {
  margin-top: 12px;
  font-size: 1.3rem;
}
