#sticky-container {
  position: fixed;
  right: 32px;
  bottom: 32px;
}

#metadata {
  margin-top: 20px;

  p {
    margin-left: auto;
    width: fit-content;
    margin-bottom: 10px;
    padding: 5px 15px;
    background-color: #e0ebff;
  }
}

#blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);

 -webkit-backdrop-filter: blur(2px);
 backdrop-filter: blur(2px);
}

#wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  background-color: #ddcfc2;

  // Dynamic Propeties
  width: 90px;
  height: 80px;
}

#container {
  width: auto;

  // Dynamic Propertis
  height: 52px;
}

#vinyl {
  width: auto;
  height: 100%;
}

#arm {
  width: auto;
  height: 100%;
  transform-origin: 69.5% 15.7%;
}

.popup {
  &#sticky-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 420px;
    height: 430px;
    transform: translate(-50%, -50%);
  }

  #wrapper {
    width: 420px;
    height: 430px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #container {
    margin: 36px 0;
    height: 200px;
  }
}

#controls {
  bottom: 0;
  text-align: left;
  margin: 32px auto;
  width: 280px;

  div {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }
}

#play {
  margin-left: 10px;

  img {
    width: 20px;
    height: 20px;
  }
}

#volume {
  margin-left: 10px;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #000;
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    outline: #ddcfc2 solid 1px;
    background: #000;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    outline: #ddcfc2 solid 1px;
    background: #000;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  #sticky-container {
    right: 16px;
    bottom: 32px;
  }

  .popup {
    &#wrapper {
      width: 340px;
      height: 360px;
    }
  
    #container {
      height: 160px;
    }
  }
}